# Orb 'circleci/maven@0.0.12' resolved to 'circleci/maven@0.0.12'
version: 2.1
jobs:
  build_and_test:
    parameters:
      run-stress-tests:
        type: boolean
        default: false
    docker:
    - image: cimg/openjdk:8.0-node
    steps:
    - checkout
    - run:
        name: Generate Cache Checksum
        command: find . -name 'pom.xml' | sort | xargs cat > /tmp/maven_cache_seed
    - restore_cache:
        key: maven-{{ checksum "/tmp/maven_cache_seed" }}
    - run:
        name: Install Dependencies
        command: mvn -DskipTests clean install dependency:resolve-plugins dependency:go-offline --settings 'pom.xml'
    - run:
        name: Run Unit Tests
        command: mvn verify --settings 'pom.xml'
    - run:
        name: set credentials
        command: |
          echo $GCLOUD_SERVICE_KEY > $HOME/gcloud-service-key.json
          echo 'export GOOGLE_APPLICATION_CREDENTIALS=$HOME/gcloud-service-key.json' >> $BASH_ENV
    - when:
        condition: << parameters.run-stress-tests >>
        steps:
          - run: 
              name: Run Integration and Stress Tests
              command: mvn -B -Penable-integration-tests -Pstress-integration-tests -DtrimStackTrace=false -Dspanner.instance=continuous-integration-test -fae verify --settings 'pom.xml'
    - unless:
        condition: << parameters.run-stress-tests >>
        steps:
            - run:
                name: Run Integration Tests
                command: mvn -B -Penable-integration-tests -DtrimStackTrace=false -Dspanner.instance=continuous-integration-test -fae verify
    - save_cache:
        paths:
        - ~/.m2
        key: maven-{{ checksum "/tmp/maven_cache_seed" }}
    - store_test_results:
        path: target/surefire-reports
workflows:
  version: 2.1
  
  commit:  # Run on every commit.
    jobs:
      - build_and_test

  nightly:  # Run every night.
    triggers:
      - schedule:
          cron: "0 0 * * *"
          filters:
            branches:
              only:
                  - master
    jobs:
      - build_and_test:
          run-stress-tests: true
